.LoadingListItem-container {
  background-color: white;
  border: 1px solid rgba(6, 40, 65, 0.06);
  padding: 8px 12px;
  position: relative;
}

.LoadingListItem-stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px 16px;
  margin-top: 10px;
}

.LoadingListItem-stats-entry {
  display: flex;
  align-items: center;
  gap: 0 4px;
}

.LoadingListItem-shimmer-height {
  height: 4px;
}

.glass-item-wrapper {
  width: 100%;
  min-height: 0;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px;
  display: flex;
}

.glass-item-wrapper:hover {
  background-image: linear-gradient(235deg, #9e9cff, rgba(0, 0, 0, 0) 10%),
    linear-gradient(235deg, rgba(0, 0, 0, 0) 90%, rgba(213, 97, 254, 0.7));
}

.glass-item-container {
  idth: 100%;
  min-height: 240px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  -webkit-backdrop-filter: blur(34px);
  backdrop-filter: blur(34px);
  background-color: rgba(220, 230, 255, 0.07);
  background-image: radial-gradient(
      circle at 100% 0,
      rgba(255, 192, 156, 0.25),
      rgba(0, 0, 0, 0) 8%
    ),
    radial-gradient(
      circle at 100% 0,
      rgba(255, 192, 156, 0.32),
      rgba(23, 25, 30, 0) 12%
    );
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 40px;
  display: flex;
}

.glass-item-container:hover {
  background-image: none;
}
