.HomePage-container {
  /* max-width: 640px !important; */
  padding: 48px calc(50% - 320px) 16px calc(50% - 320px);
  max-height: 100%;
  overflow-y: auto;
}

.HomePage-cta-container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
