@font-face {
  font-family: "Epilogue";
  font-weight: 300;
  font-display: "swap";
  src: url("src/shared/assets/font/Epilogue-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Epilogue";
  font-weight: "normal";
  font-display: "swap";
  src: url("src/shared/assets/font/Epilogue-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Epilogue";
  font-weight: 600;
  font-display: "swap";
  src: url("src/shared/assets/font/Epilogue-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  font-display: "swap";
  src: url("src/shared/assets/font/Epilogue-Bold.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Epilogue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1dfe7;
  border-radius: 4px;
}
